<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="OOOCode"
            id="com.pghalliday.ooocode">
      </category>
      <wizard
            name="Class"
            icon="icons/sample.gif"
            category="com.pghalliday.ooocode"
            class="com.pghalliday.ooocode.wizards.ClassWizard"
            id="com.pghalliday.ooocode.wizards.ClassWizard">
      </wizard>
      <wizard
            name="Interface"
            icon="icons/sample.gif"
            category="com.pghalliday.ooocode"
            class="com.pghalliday.ooocode.wizards.InterfaceWizard"
            id="com.pghalliday.ooocode.wizards.InterfaceWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.ui.IEditorInput"
            id="com.pghalliday.ooocode.editorMenuContribution"
            nameFilter="*.*">
         <menu
               label="OOOCode"
               path="additions"
               id="com.pghalliday.ooocode.editorMenuContribution.menu">
            <separator
                  name="generators">
            </separator>
         </menu>
         <action
               label="Generate Class"
               class="com.pghalliday.ooocode.popup.actions.GenerateClass"
               menubarPath="com.pghalliday.ooocode.editorMenuContribution.menu/generators"
               enablesFor="1"
               id="com.pghalliday.ooocode.popup.actions.GenerateClass">
         </action>
         <action
               label="Generate Interface"
               class="com.pghalliday.ooocode.popup.actions.GenerateInterface"
               menubarPath="com.pghalliday.ooocode.editorMenuContribution.menu/generators"
               enablesFor="1"
               id="com.pghalliday.ooocode.popup.actions.GenerateInterface">
         </action>
      </objectContribution>
   </extension>

</plugin>
